@model Yoyyin.Mvc.Models.UserWithFirstIdea

@Html.Partial("Breadcrumb")
<div class="row-fluid">
    <div class="span2">
        <a href="#" class="thumbnail">
            <img src="@Model.LargeProfileImageSrc" />
        </a><a>@Model.DisplayName</a>
        <p>
            @Html.Raw(Model.UserTypeMarkup)
        </p>
    </div>
    <div class="span10">
        <span class="label">@Html.ActionLink(Model.SniHeadTitle, "ListBySniHead", new { id = Model.SniHeadId })</span>
        <h2>@Model.FirstIdea.Title</h2>
        <p>@Html.Raw(Model.FirstIdea.Description)</p>
        <div class="well">
            <h3>@Model.DisplayName söker personer som är:</h3>
            @Html.Raw(Model.UserTypesNeededMarkup)
            <h3>
                ...och kan</h3>
            @Html.Raw(Model.CompetencesNeededmarkup)
        </div>
    </div>
</div>
