@using Yoyyin.Mvc.Helpers
@model IEnumerable<Yoyyin.Mvc.ViewModels.User>
@Html.PageHeader("Personer", (string)ViewBag.SubTitle ?? "Kanske din framtida affärspartner?")
@ViewBag.Title
@foreach (var user in Model)
{
    <div class="well">        
        <div class="row-fluid">
            @Html.Partial("~/Views/User/Profile.cshtml", user)            

            <div class="span10">
                Jag är<br />
                <span class="label label-success"><a href="/User/ListByUserType/@user.UserTypeId">@user.UserType</a></span><br />
            
                ..och kan<br />
                @foreach (var competence in @user.Competences)
                {
                    <span class="label label-info"><a href="/User/ListByCompetence/@competence">@competence</a></span>
                }
                <hr />
                Jag söker<br />
                @foreach (var userType in @user.UserTypesNeeded)
                {
                    <span class="label label-success">@userType</span>
                }
                <br />
                ..som kan<br />
                @foreach (var competenceNeeded in @user.CompetencesNeeded)
                {
                    <span class="label label-info"><a href="/User/ListByCompetence/@competenceNeeded">@competenceNeeded</a></span>
                }            
            </div>
        </div>
        <br />
        <div class="alert alert-info">
            <img src='@user.LookingFor.ImageUrl' /> <small>@user.DisplayName @user.LookingFor.Description</small>
        </div>
    </div>
    
}

