@model Yoyyin.Mvc.Models.UserWithFirstIdea

    <tr>
        <td>
            <a href=@Model.DetailsHref class="thumbnail">
                @Html.Raw(Model.SmallProfileImageMarkup)
                @Model.DisplayName
            </a>
        </td>
        <td>
            <span class="label">@Html.ActionLink(Model.SniItemTitle, "ListBySniNo", new { id = Model.SniNo})</span>
            <h2>@Model.FirstIdea.Title</h2>
            <p>@Html.Raw(Model.FirstIdea.Description)</p>
        </td>
    </tr>