@model Yoyyin.Mvc.ViewModels.User
<div class="row-fluid">
    @Html.Partial("~/Views/User/Profile.cshtml", @Model)   

    <div class="span10 well">
        @*<span class="label">@Html.ActionLink(Model.SniHeadTitle, "ListBySniHead", new { id = Model.SniHeadId })</span>*@
        <h2>@Model.Ideas.First().Title</h2>
        <p>@Html.Raw(Model.Ideas.First().Description)</p>
        @Model.Ideas.First().Funding.Amount
        @Model.Ideas.First().Funding.Description
    </div>
</div>
<br />
