@model Yoyyin.Mvc.ViewModels.UserWithFirstIdea
<div class="row-fluid">
    <div class="span1">
        <a href=@Model.DetailsHref>
            <img class="thumbnail" src="@Model.SmallProfileImageSrc" />
        </a><a href=@Model.DetailsHref>
                <strong>@Model.DisplayName</strong>
        </a> @Model.City
    </div>
    <div class="span11 well">
        <span class="label">@Html.ActionLink(Model.SniHeadTitle, "ListBySniHead", new { id = Model.SniHeadId })</span>
        <h2>@Model.FirstIdea.Title</h2>
        <p>@Html.Raw(Model.FirstIdea.Description)</p>
        @Model.FirstIdea.Funding.Amount
        @Model.FirstIdea.Funding.Description
    </div>
</div>
<br />
